
nav {
    padding: 1rem;
    position: relative;
}


#hamburger {
    color: black;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    display: block;
    z-index: 1000; 
    
}


#Navbar {
    list-style: none;
    margin: 0;
    padding: 2rem 1rem;
    position: fixed;
    top: 0;
    right: -300px; 
    width: 250px;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: right 0.3s ease;
    z-index: 999;
    font-size: large;
    
}

#Navbar:hover{
    background-color: black;
}


#cross {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    display: none; 
    z-index: 1000;
}


#Navbar li {
    margin-bottom: 1rem;
    color: white;
    cursor: pointer;
    padding: 20px;
}

#Navbar li:hover{
    color: rgb(213, 235, 135);
}


#Navbar.show {
    right: 0;
}

#Navbar.Cross{
    color: black;
    font-size: 1.5rem;
}